node_modules
config.js

public

.jshintrc

rebuild.sh

data/elasticsearch/*
data/couchdb/*


hospitalrun.crt

hospitalrun.key

privatekey.pem

certrequest.csr

certificate.pem

restart.sh

start.sh

stop.sh

newrelic_agent.log

newrelic.js

.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
