{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
       "name": "elasticsearch-data",
       "host": {
         "sourcePath": "/usr/share/elasticsearch/data"
       }
     },
     {
       "name": "couchdb-data",
       "host": {
         "sourcePath": "/opt/couchdb/data"
        }
      },
     {
       "name": "logstash-data",
       "host": {
         "sourcePath": "/opt/logstash/data"
       }
     }
  ],
  "containerDefinitions": [
    {
      "name": "hospitalrun-server",
      "image": "${DOCKER_IMAGE_REPO}/${PROJECT_NAME}:${TAG}",
      "essential": true,
      "memory": 500,
      "hostname": "hospitalrun",
      "command": [ "npm", "start" ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "hospitalrun-dev",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "hospitalrun"
        }
      },
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 3000
        }
      ],
      "environment": [
        {
          "name": "DEBUG",
          "value": "False"
        }
      ],
      "links": [
         "couchdb",
         "elasticsearch"
      ]
     },
     {
       "name": "couchdb",
       "image": "couchdb:1.6",
       "essential": true,
       "memory": 300,
       "logConfiguration": {
         "logDriver": "awslogs",
        "options": {
          "awslogs-group": "hospitalrun-dev",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "hospitalrun-app"
        }
       },
       "portMappings": [
         {
           "hostPort": 5985,
           "containerPort": 5984
         }
       ],
       "mountPoints": [
       {
         "sourceVolume": "couchdb-data",
         "containerPath": "/usr/local/var/lib/couchdb",
         "readOnly": false
       }
       ]
     },
    {
       "name": "logstash",
       "image": "${DOCKER_IMAGE_REPO}/${PROJECT_NAME}_logstash:${TAG}",
       "essential": true,
       "memory": 400,
       "logConfiguration": {
         "logDriver": "awslogs",
        "options": {
          "awslogs-group": "hospitalrun-dev",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "hospitalrun-logstash"
        }
       },
       "portMappings": [
         {
           "hostPort": 5045,
           "containerPort": 5044
         }
       ],
       "mountPoints": [
       {
         "sourceVolume": "logstash-data",
         "containerPath": "/usr/share/logstash/pipeline/",
         "readOnly": false
       }
       ],
        "links": [
         "couchdb",
         "elasticsearch"
      ]
    },
     {
       "name": "elasticsearch",
       "image": "docker.elastic.co/elasticsearch/elasticsearch:5.2.2",
       "essential": true,
       "memory": 700,
       "logConfiguration": {
         "logDriver": "awslogs",
         "options": {
          "awslogs-group": "hospitalrun-dev",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "hospitalrun-es"
        }
       },
      "environment": [
        {
          "name": "ES_JAVA_OPTS",
          "value": "-Xms700m -Xmx700m"
        }
       ],
       "mountPoints": [{
         "sourceVolume": "elasticsearch-data",
         "containerPath": "/usr/share/elasticsearch/data",
         "readOnly": false
       }],
       "portMappings": [
         {
           "hostPort": 9201,
           "containerPort": 9200
         }
       ]
     }
  ]
}
